name: Generate ApexDocs

on:
  push:
    branches:
      - main

jobs:
  generate-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install Salesforce CLI
        run: npm install --global @salesforce/cli

      - name: Install ApexDocs
        run: npm install --global @cparra/apexdocs

      - name: Check ApexDocs version
        run: apexdocs --version

      - name: Generate documentation
        run: apexdocs markdown -s force-app/main/default/ --targetDir ./docs2 --debug
